body{
    background-color:#E8AABE;
}
.text{
    color: #CA3C66;
    font-size: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text2{
    color: #CA3C66;
    font-size:  40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    color: transparent;
    background-image: url(london\ oxford\ street.jpg);
    width: 240px;
    height: 300px;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
}
